body{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana;
}
header{
    font-weight: bold;
}
.headerlogo{
    float: left;
    margin-right: 10px;
}
    .headerlogo > img{
        height: 60px;
        width: 60px;
    }
#mainHeader{
    height: 80px;
}
.searchbox{
    float: right;
    padding: 5px;
    margin: 10px 10px;
    width: 200px;
}
#headername {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    color: #603813;
    padding: 15px;
    margin: 8px 0px;
    font-weight: bold;
    text-shadow: 5px 5px 5px #5f2c17;
}
nav{
    height: 45px;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 20px;
    padding-left: 5px;
}
    nav ul{
        list-style: none;
        padding: 0px;
    }
        nav ul li{
            display: block;
        }
.backgroundgradient{
    background: linear-gradient(to right, #603813, #341c05);
}
.navlink{
    height: 35px;
    margin-right: 10px;
    font-size: 18px;
    float: left;
}
.addtocartbutton{
    cursor: pointer;
    padding: 4px 25px;
    background: #603813;
    border: 1px solid #381f09;

    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0,0,0, .75);
    color: #f3f3f3;
    font-size: 0.8em;
    width: 80px;
}
    .addtocartbutton:hover, .addtocartbutton:focus{
        background-color: #512c0a;
        box-shadow: 0 0 1px rgba(0,0,0, .75);
    }

#welcomeimage{
    margin-top: 10px;
    float: left;
    width: 70%;
}
#welcomeimage img{
    width: 80%;
}
#coffeeofthemonth{
    float: right;
    width: 30%;
    margin-top: 15px;
}
#coffeeofthemonth img{
    width: 100%;
}
#welcometext{
    float: left;
    width: 70%;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    column-count: 2;
}
    #welcometext > header{
        color: #603813;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 3px;
    }
#events{
    float: right;
    width: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
}
#events > header{
    margin-left: 10px;
    color: #603813;
    font-size: 15px;
    margin-bottom: 3px;
    font-weight: bold;
}
    #events > ul{
        list-style: none;
    }
        #events > ul > li{
            margin-bottom: 3px;
        }
#bestsellers{
    height: 100%;
    width: 700px;
    float: left;
    margin-bottom: 20px;
}

.productarticle{
    column-width: 200px;
    column-gap: 3px;
    column-count: 2;
}
.productarticlemoreinfo{
    font-size: 12px;
    color: #603813;
    margin-top: 5px;
}
footer{
    clear: both;
    width: 100%;
    background-color: #5c5045;
    margin: 20px 0px 20px;
    padding: 5px;
    transform: rotate(10deg);
}
.smalltext{
    font-size: 10px;
}
